<div class="container mt-5">
  <div class="mb-2 g-2 align-items-center d-flex justify-content-evenly">
    <span>*必填欄位</span>
    <span class="fs-2">請輸入你的支出</span>
  </div>

  <form method="POST" action="/records/{{record._id}}?_method=put" class="mt-4">
    <div class="row mb-3 g-2 align-items-center">
      <label for="name" class="col-md-4 col-form-label fw-bold text-end">
        名稱 <span style="color:red ;">*</span>
      </label>
      <div class="col-md-8">
        <input type="text" name="name" class="form-control" id="name" value="{{record.name}}" required />
      </div>
    </div>

    <div class="row mb-3 g-2 align-items-center">
      <label for="date" class="col-md-4 col-form-label fw-bold text-end">
        日期 <span style="color:red ;">*</span>
      </label>
      <div class="col-md-8">
        <input type="date" name="date" class="form-control" id="date" value="{{record.dateFormat}}" required />
      </div>
    </div>

    <div class="row mb-3 g-2 align-items-center">
      <label for="category" class="col-md-4 col-form-label fw-bold text-end">類別 <span
          style="color:red ;">*</span></label>
      <div class="col-md-8">
        <select id="category" name="categoryId" class="col-md-12" value="{{catValue}}" required>
          <option value="0" disabled>Select</option>
          <option value="1" {{#if catValue.housing }}selected{{/if}}>家居物業</option>
          <option value="2" {{#if catValue.traffic }}selected{{/if}}>交通出行</option>
          <option value="3" {{#if catValue.entertainment }}selected{{/if}}>休閒娛樂</option>
          <option value="4" {{#if catValue.diet }}selected{{/if}}>餐飲食品</option>
          <option value="5" {{#if catValue.others }}selected{{/if}}>其他</option>
        </select>
      </div>

    </div>


    <div class="row mb-3 g-2 align-items-center">
      <label for="sub_amount" class="col-md-4 col-form-label fw-bold text-end">
        金額 <span style="color:red ;">*</span>
      </label>
      <div class="col-md-8">
        <input type="number" name="amount" class="form-control" id="sub_amount" value="{{record.amount}}" required />
      </div>
    </div>

    <div class="d-flex mt-3 justify-content-end">
      <button class="btn btn-success me-2" type="submit">儲存修改</button>
      <a href="/">
        <button type="button" class="btn btn-secondary me-2">
          返回首頁
        </button>
      </a>
      {{! 使用type="reset" 可以清除/還原輸入 }}
      <button type="reset" class="btn btn-danger">還原輸入</button>
    </div>

  </form>


</div>